<h1 class="text-center">{{ edit ? 'Edição' : 'Cadastro' }} de Mercadoria</h1>

<form [formGroup]="form" (submit)="submit()">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <mat-form-field>
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome">
            </mat-form-field>
        </div>

        <div class="col-md-4 col-sm-12">
            <mat-form-field>
                <mat-label>NCM/SH</mat-label>
                <input matInput formControlName="ncmSh">
            </mat-form-field>
        </div>

        <div class="col-md-4 col-sm-12">
            <mat-form-field>
                <mat-label>Imagem (url)</mat-label>
                <input matInput formControlName="imagem">
            </mat-form-field>
        </div>
    </div>

    <div class="row align-items-stretch">
        <div class="col-md-8 col-xs-12">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <mat-form-field>
                        <mat-label>Descrição</mat-label>
                        <textarea formControlName="descricao" class="merchandise-description" matInput></textarea>
                    </mat-form-field>
                </div>
        
                <div class="col-md-6 col-sm-12">
                    <div class="col-md-12">
                        <mat-form-field>
                            <mat-label>Categoria</mat-label>
                            <mat-select formControlName="categoria">
                                <mat-option value="eletronicos">Eletronicos</mat-option>
                                <mat-option value="domesticos">Domésticos</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
        
                    <div class="col-md-12">
                        <mat-form-field>
                            <mat-label>Peso liquido (kg)</mat-label>
                            <input matInput formControlName="pesoLiquido">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <mat-form-field>
                        <mat-label>Marca</mat-label>
                        <input matInput formControlName="marca">
                    </mat-form-field>
                </div>

                <div class="col-md-6 col-sm-12">
                    <mat-form-field>
                        <mat-label>Peso bruto (kg)</mat-label>
                        <input matInput formControlName="pesoBruto">
                    </mat-form-field>
                </div>
            </div>
        </div>
        

        <div class="col-md-4 col-sm-12">
            <div class="reset-container-form">
                <div class="merchandise-figure-container">
                    <img [src]="merchandiseImage" alt="Imagem do produto" onerror="src='assets/img/galeria.svg'">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-12">
            <mat-form-field>
                <mat-label>Modelo</mat-label>
                <input matInput formControlName="modelo">
            </mat-form-field>
        </div>

        <div class="col-md-4 col-sm-12">
            <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                    <mat-option value="ativo">Ativo</mat-option>
                    <mat-option value="inativo">Inativo</mat-option>
                    </mat-select>
            </mat-form-field>
        </div>
        
        <div class="col-md-2 col-sm-12" *ngIf="edit">
            <mat-form-field>
                <mat-label>Preço Unit.</mat-label>
                <input matInput 
                currencyMask
                [options]="{ prefix: 'R$ ', thousands: ' ', decimal: '.' }"
                value="20.00" disabled>
            </mat-form-field>
        </div>

        <div class="col-md-2 col-sm-12" *ngIf="edit">
            <mat-form-field>
                <mat-label>Quantidade</mat-label>
                <input matInput type="number" value="15" disabled>
            </mat-form-field>
        </div>
    </div>

    <div class="row full-button-container">
        <button type="submit" mat-raised-button color="primary" 
        [disabled]="!form.valid || form.pristine || !form.dirty">Confirmar</button>
    </div>


</form>