<h1 class="text-center mt-2">Controle de Estoque</h1>

<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

<!-- Merchandise Column -->
    <ng-container matColumnDef="mercadoria">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mercadoria </th>
        <td mat-cell *matCellDef="let element"> {{element.mercadoria}} </td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="quantidade">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantidade. </th>
        <td mat-cell *matCellDef="let element"> {{element.quantidade}} </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
        <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
    </ng-container>

    <!-- Model Column -->
    <ng-container matColumnDef="fornecedor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fornecedor </th>
        <td mat-cell *matCellDef="let element"> {{element.fornecedor}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
