/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field {
    width: 100%;
}

.mat-toolbar-single-row {
    justify-content: space-between;

    .mat-button-wrapper {
        padding: 0 !important;
    }
}

.profile-image {
    border-radius: 100%;
}

.mat-drawer-container {
    height: calc(100vh - 64px);
}

.mat-drawer.mat-drawer-side {
    background-color: #3f51b5;
    color: #fff;

    .mat-list-base .mat-subheader, 
    .mat-list-base .mat-list-item a, 
    .mat-list-base .mat-subheader a {
        color: #fff;
    }
}

.mat-form-field, .mat-form-field-wrapper, .mat-form-field-flex {
    height: 100%;
}

.merchandise-description {
    resize: none !important;
}

.reset-container-form {
    height: calc(100% - 1.69375em);
    padding-top: 0.25rem;

    .merchandise-figure-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: var(--bs-border-radius);
    
        * {
            max-width: 99%;
            max-height: 99%;
            border-radius: var(--bs-border-radius);
        }
    }
}

.full-button-container {
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

.mat-table {
    width: 100%;
}

.mat-form-field-disabled {
    cursor: no-drop;
}

.button-reset-top {
    top: -9px
}

.alert {
    margin: 0;
    border-radius: 0;
}

.alert:last-child {
    border-end-end-radius: var(--bs-alert-border-radius);
    border-end-start-radius: var(--bs-alert-border-radius);
}

.reset-animation {
    height: 1px;
    width: 100%;
}

@media (max-width: 599px) {
    .mat-drawer-container {
        height: calc(100vh - 56px);
    }
}
