<h1 class="text-center mt-2">Cadastro de Estoque</h1>

<form [formGroup]="form">
    <div class="row">
        <div class="col">
            <mat-form-field>
                <mat-label>Mercadoria</mat-label>
                <mat-select formControlName="mercadoria">
                    <mat-option 
                        *ngFor="let m of merchandises" 
                        [value]="m.codigo">[{{ m.marca }}] {{ m.nome }} - {{ m.modelo }} - {{ m.ncmSh }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-xs-12">
            <mat-form-field>
                <mat-label>Quantidade</mat-label>
                <input matInput type="number" formControlName="quantidade">
            </mat-form-field>
        </div>
        <div class="col-md-4 col-xs-12">
            <mat-form-field>
                <mat-label>Tipo</mat-label>
                <mat-select formControlName="tipo">
                    <mat-option value="one">Entrada</mat-option>
                    <mat-option value="two">Saida</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <mat-form-field>
                <mat-label>Fornecedor</mat-label>
                <input matInput formControlName="fornecedor">
            </mat-form-field>
        </div>
    </div>

    <div class="row full-button-container">
        <button class="" mat-raised-button color="primary" 
        [disabled]="!form.valid || form.pristine || !form.dirty">Confirmar</button>
    </div>
    
</form>